* {
  margin: 0;
  padding: 0;
  font-family: "Matter Light";
}

.sectionBody {
  /* This is for the home page styling */
  box-sizing: border-box;
  background-color: #f4f4f4;
  /* height: 100vh; */
  width: 100%;
}
.NavBlackButton,
.NavGreenButton {
  /* This is for the nav bar two buttons */
  border: none;
  color: #ffffff;
  width: 130px;
  height: 43px;
  word-spacing: 1.5px;
  border-radius: 25px;
  font-weight: 600;
  font-size: 14px;
}
.NavBlackButton,
.NavGreenButton:hover {
  /* This is for the nav bar button hover effect*/
  cursor: pointer;
}
.NavGreenButton {
  background-color: #20888f;
}
.NavBlackButton {
  background-color: #303030;
}
.nav-Link-text:hover {
  cursor: pointer;
}
.heroText {
  width: 59%;
  font-size: 16px;
  font-weight: 600;
  color: #4e4e4e;
}
.heroTextHeader,
.heroTextHeader2 {
  width: 59%;
  font-size: 24px;
  font-weight: 600;
}
.heroTextHeader {
  margin-bottom: 15px;
}
.heroTextHeader2 {
  margin-bottom: 0;
  line-height: 36px;
}
.caroButton {
  border: none;
  color: #ffffff;
  background-color: #303030;
  width: 130px;
  height: 40px;
  word-spacing: 1.5px;
  border-radius: 25px;
  font-weight: 600;
  font-size: 14px;
}
.caroButtonContainer {
  width: 59%;
  margin-top: 25px;
}
.left-section {
  background-color: white;
}
.center-price {
  z-index: 10;
  margin-right: -86px;
  margin-left: -80px;
  background-color: transparent;
}
.jet-club {
  height: 65vh;
}
.trianle-img {
  /* background-color: red; */
  margin-right: 66px;
  margin-left: -40px;
  width: 52%;
}
.Carousel-wrapper {
  position: relative;
  overflow: hidden;
  border: none;
}
.carousel-items {
  transition: transform 1s ease;
}
.carousel-item {
  flex-shrink: 0;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}
.carousel-item.fade {
  position: relative;
  opacity: 2;
  transition: opacity 1s ease;
}

.carousel-item.fade.active {
  opacity: 1;
}

.pagination-indicator {
  background-color: #d9d9d9;
  border: none;
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  margin: 0 0.2rem;
  cursor: pointer;
  position: relative;
  bottom: 2rem;
  left: 48.3%;
  transform: translateX(-50);
}

.pagination-indicator.active {
  background-color: #5b5454;
  width: 0.4rem;
  height: 0.4rem;
}
.pagination-indicator.active:active {
  background-color: #5b5454;
  width: 0.3rem;
} /* This is the end of the carousel styling*/

/* This section is for the openning text under the carousel page */
.intro-speech-container {
  background-color: white;
  margin: 45px 0 45px 0;
  padding: 32px 0;
  border-radius: 30px;
}
.intro-speech-author,
.intro-speech-text {
  font-weight: 600;
}
.intro-speech-text {
  font-size: 17px;
  gap: 5px;
  margin-bottom: 25px;
  color: #212121;
}
.intro-speech-author {
  font-size: 14px;
  margin-bottom: 10px;
  color: #212121;
}
.intro-speech-title {
  color: #4e4e4e;
  font-size: 15px;
  font-weight: 600;
} /* This is the end of the styling for the opening text*/

/* This is styling is for the Network section*/
.Network-header {
  padding: 8px 28px;
  font-weight: 600;
}
.network-categories {
  background-color: transparent;
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3%;
}
.network-categories-container {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  padding: 25px;
  margin-bottom: 25px;
}
.network-categories-header,
.network-categories-content,
.network-categories-price,
.focus-area {
  font-weight: 600;
}
.network-categories-content,
.network-categories-price {
  color: #4e4e4e;
}
.network-categories-header {
  width: 100%;
  font-size: 19px;
  margin-bottom: 20px;
}
.network-categories-content {
  width: 100%;
  font-size: 13.5px;
  line-height: 24px;
  margin-bottom: 8px;
}
.network-categories-price {
  font-size: 15px;
  width: 100%;
  margin-bottom: 12px;
  line-height: 22px;
}

.network-categories-button {
  font-size: 15px;
  background-color: transparent;
  font-weight: 600;
  border-bottom: 1 solid black;
  border-right: none;
  border-left: none;
  border-top: none;
}

.network-categories-learn {
  display: flex;
  align-items: baseline;
}
/* div.network-categories-container:nth-child(2) {
}*/

/* The end of network section*/

/* This is for Area of focus styling*/

.focus-area {
  margin-bottom: 25px;
}

.focus-area-text {
  font-size: 14px;
  font-weight: 500;
  color: #4e4e4e;
}
.focus-area-gallery {
  background-color: transparent;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 45px;
}

.focus-area-container {
  background-color: white;
  color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 12px 18px;
  margin-bottom: 25px;
}
.focus-area-header {
  width: 100%;
  font-size: 18px;
  margin-bottom: 28px;
}
.focus-area-content {
  width: 68%;
  font-size: 15px;
}
div.focus-area-container:nth-child(1) {
  background-color: #303030;
}
div.focus-area-container:nth-child(2) {
  background-color: #f47733;
}
div.focus-area-container:nth-child(3) {
  background-color: #ff78bf;
}
div.focus-area-container:nth-child(4) {
  background-color: #20888f;
}
div.focus-area-container:nth-child(5) {
  background-color: #ff78bf;
}
/*End of focus area*/

/* Beginning of Innovation*/

.innovation-concept {
  margin-bottom: 15px;
  font-weight: 600;
}
.innovation-concept-text {
  font-size: 14px;
  font-weight: 500;
  color: #4e4e4e;
}
.innovation-concept-container {
  background-color: white;
  color: #4e4e4e;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 4px;
  margin-bottom: 25px;
  border-radius: 15px;
}
.innovation-concept-header {
  width: 100%;
  font-size: 18px;
  display: flex;
  color: #212121;
  flex-direction: column;
  align-items: center;
  margin-bottom: 28px;
  font-weight: 600;
}
.innovation-concept-gallery {
  background-color: transparent;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4%;
  margin-top: 45px;
}
.innovation-concept-content {
  width: 75%;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: 600;
}

/* The end of innovation concepts */

/* The beginning of service incubation */

.service-incubation {
  margin-bottom: 15px;
  font-weight: 600;
}
.service-incubation-text {
  font-size: 14px;
  font-weight: 600;
  color: #4e4e4e;
  margin-bottom: 38px;
}

/* The ending of service incubation */

/* The beginning of Hypothesis */
.hypothesis {
  margin-bottom: 18px;
  font-weight: 600;
}
.hypothesis-text {
  font-size: 12px;
  font-weight: 600;
  color: #4e4e4e;
  margin-bottom: 10px;
}
.hypothesis-gallery {
  background-color: transparent;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4%;
  margin-top: 45px;
}
.hypothesis-container {
  background-color: white;
  color: #4e4e4e;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 12px 4px;
  margin-bottom: 25px;
  border-radius: 15px;
}
.hypothesis-header {
  width: 100%;
  font-size: 18px;
  display: flex;
  color: #212121;
  flex-direction: column;
  padding: 10px 0 0 30px;
  margin-bottom: 12px;
  font-weight: 600;
}
.hypothesis-content {
  width: 77%;
  font-size: 15px;
  display: flex;
  font-weight: 600;
  padding: 10px 0 0 30px;
  text-align: justify;
}

/*Hypothesis styling ended here*/

/* Case study styling begins from here*/
.case-study {
  margin-bottom: 18px;
  font-weight: 600;
}
.case-study-text {
  font-size: 12.5px;
  font-weight: 600;
  color: #4e4e4e;
  margin-bottom: 35px;
}
.case-study-gallery {
  background-color: transparent;
  width: 95%;
  display: flex;
  flex-direction: row;
  gap: 1%;
}
.case-study-container {
  color: #4e4e4e;
  width: 16%;
  display: flex;
  margin-bottom: 25px;
}
.case-study-content {
  background-color: white;
  width: 100%;
  font-size: 13px;
  padding: 10px;
  display: flex;
  justify-content: center;
  font-weight: 600;
  border: 1px solid #a4a4a4;
  border-radius: 30px;
}
.become-button {
  font-size: 11px;
  font-weight: 600;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #a4a4a4;
}
.service-incubation-button {
  margin-bottom: 45px;
  font-weight: 600;
}
/* Case study styling ends here*/

/* Case studio styling begins from here*/

.studio {
  margin-bottom: 19px;
  font-weight: 600;
}

.studio-text {
  font-size: 14px;
  font-weight: 600;
  color: #4e4e4e;
  margin-bottom: 35px;
}
.studio-image-cover {
  margin-bottom: 35px;
}
.studio-image {
  width: 100%;
}
.studio-button {
  margin-bottom: 55px;
  font-weight: 600;
}
.studio-become-button {
  font-size: 11px;
  font-weight: 600;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #a4a4a4;
}

/* Case studio styling ends here*/

/* co-found styling begins from here*/
.co-found {
  margin-bottom: 18px;
  font-weight: 600;
}
.co-found-text {
  font-size: 14px;
  font-weight: 600;
  color: #4e4e4e;
  margin-bottom: 38px;
}
.co-found-gallery {
  background-color: transparent;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4%;
  margin-top: 45px;
}
.co-found-container {
  background-color: white;
  color: #4e4e4e;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 12px 4px;
  margin-bottom: 25px;
  border-radius: 15px;
}
.co-found-header {
  width: 100%;
  font-size: 18px;
  display: flex;
  color: #212121;
  flex-direction: column;
  padding: 10px 0 0 30px;
  margin-bottom: 12px;
  font-weight: 600;
}
.co-found-content {
  width: 75%;
  font-size: 13px;
  display: flex;
  font-weight: 600;
  padding: 10px 0 0 30px;
  text-align: justify;
  line-height: 17px;
  word-spacing: -2px;
}
.build-button {
  margin-bottom: 55px;
  font-weight: 600;
}
.build-become-button {
  font-size: 11px;
  font-weight: 600;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #a4a4a4;
}
/* The end to the co-found styling*/

/* The begining of EIR styling*/
.eir-carousel-items {
  transition: transform 0.9s ease;
  flex-direction: row;
  width: 47%;
  display: flex;
  flex-direction: row;
  gap: 6%;
}

.eir-carousel-item {
  background-color: white;
  width: 59%;
  flex-shrink: 0;
  object-fit: cover;
  overflow: hidden;
  border-radius: 8px;
}

.eir-Carousel-wrapper {
  position: relative;
  overflow-x: hidden;
  width: 90%;
  background-color: transparent;
  margin-bottom: 38px;
}
.eir-header {
  width: 100%;
  font-size: 18px;
  display: flex;
  color: #212121;
  flex-direction: column;
  padding: 10px 0 10px 20px;
  margin-bottom: 12px;
  font-weight: 600;
}

.eir-content {
  width: 87%;
  font-size: 13px;
  display: flex;
  font-weight: 600;
  padding: 10px 0 15px 20px;
  line-height: 19px;
  color: #4e4e4e;
}
.eir-button {
  margin-bottom: 42px;
  font-weight: 600;
}
.eir-become-button {
  font-size: 12px;
  font-weight: 600;
  border-left: none;
  border-right: none;
  border-top: none;
  color: #4e4e4e;
  margin-right: 2px;
  border-bottom: 1px solid #a4a4a4;
}
.left-right {
  gap: 7%;
}
.eir-carousel-control {
  background-color: transparent;
  display: flex;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-bottom: 55px;
}

/* The end of eir styling*/

/* The beginning of the investors and micro styling*/

.investor,
.micro {
  font-weight: 600;
}
.investor {
  margin-bottom: 18px;
}
.investor-text {
  font-size: 14px;
  /* font-weight: 600; */
  color: #4e4e4e;
  margin-bottom: 38px;
}
.micro {
  margin-bottom: 22px;
  font-size: 16px;
}
.above-bracket {
  color: #4e4e4e;
  font-weight: 500;
  margin-left: 3px;
}
/* The ending of the investors and micro styling*/
/* The beginning of first Table deal*/

.table-deal-container {
  margin-bottom: 38px;
  width: 99%;
  padding-left: 8px;
}

.table-deal-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  /* height: 100px; */
  border: 1px solid #a4a4a4;
}
div.table-deal-wrapper:nth-child(1) {
  border-left: none;
}
div.table-deal-wrapper:nth-child(4) {
  border-right: none;
  background: transparent;
}
.first-data-header {
  margin: 8px 0 15px 5px;
}
.first-data {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  flex-direction: row;
  margin-bottom: 2px;
  gap: 2px;
  font-size: 12px;
  width: 100%;
  padding: 5px 0 2px 4px;
  color: #5b5454;
  word-spacing: -2px;
  font-weight: 600;
  white-space: nowrap;
}
.bold-table-deal-text {
  font-weight: 600;
  color: #303030;
  font-size: 12.5px;
}

/* The end of first Table deal*/

/* The beginning of second Table deal*/
.second-table-deal-container {
  margin-bottom: 38px;
  width: 99%;
  padding-left: 8px;
}

.second-table-deal-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  /* height: 100px; */
  border: 1px solid #a4a4a4;
}
div.second-table-deal-wrapper:nth-child(1) {
  border-left: none;
}
div.second-table-deal-wrapper:nth-child(4) {
  border-right: none;
  width: 42%;
}
span:nth-of-type(4) {
  border-right: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.second-data-header {
  margin: 8px 0 15px 5px;
}
.second-data {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  flex-direction: row;
  margin-bottom: 2px;
  /* gap: 2px; */
  font-size: 12px;
  width: 100%;
  padding: 5px 0 2px 4px;
  color: #5b5454;
  word-spacing: -2px;
  font-weight: 600;
  white-space: nowrap;
}
.bold-table-deal-text {
  font-weight: 600;
  color: #303030;
  font-size: 12.5px;
}
.bbb {
  width: 90%;
}

/* The ending of second Table deal*/

/* The beginning of equity jobs*/
.equity-gallery {
  background-color: transparent;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4%;
  margin-top: 45px;
}
.equity-container {
  background-color: white;
  color: #4e4e4e;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 12px 4px;
  margin-bottom: 25px;
  border-radius: 15px;
}
.equity-header {
  width: 100%;
  font-size: 18px;
  display: flex;
  color: #212121;
  flex-direction: column;
  padding: 10px 0 0 30px;
  margin-bottom: 12px;
}

.equity-image {
  width: 85%;
}
.equity-button {
}
.equity-become-button {
  background-color: #212121;
  height: 35px;
  width: 65%;
  border-radius: 18px;
  color: #ffffff;
  border: none;
  margin-bottom: 10px;
}
